<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vivid Shots Gallery</title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- header -->
    <header class="header1">
        <div class="nav-section">
            <div class="brand-and-navBtn">
                <span class="brand-name">
                VIVID SHOTS
                </span>
                <span class="navBtn flex">
                    <i class="fas fa-bars"></i>
                </span>
            </div>

            <!-- navigation menu -->
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </nav>
        </div>
 

    </header>


        <!-- main -->
        <section class = "section-three">
            <div class = "container">
                <div class = "gallery">
                    <a href = "static/images/gallery2.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery2.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Natural Landscape</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "static/images/gallery3.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery3.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Still Life</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "static/images/gallery4.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery4.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Camera Lens</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "static/images/gallery5.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery5.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Droplet</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "static/images/gallery6.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery6.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Milky Way</h3>
                            </div>
                        </div>
                    </a>

                    <a href = "static/images/gallery7.jpg">
                        <div class = "single-img">
                            <img src = "static/images/gallery7.jpg" alt = "gallery image">
                            <div class = "single-img-content">
                                <h3>Perspective</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <!-- end of main -->


    <!-- footer -->
    <footer class="footer">
        <div class="social-icons">
            <ul>
                 <li>
                    <a href="https://www.instagram.com/vivid.shots_/" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100069525794678" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com/GakhilTushar" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
            </ul>
        </div>
        <p>&copy; Tushar Gakhil, All Rights Reserved.</p>
    </footer>
    <!-- end of footer -->

        <script src="static/js/script.js"></script>
    </body>
</html>