<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vivid Shots</title>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- header -->
    <header class="header">
        <div class="nav-section">
            <div class="brand-and-navBtn">
                <span class="brand-name">
                VIVID SHOTS
                </span>
                <span class="navBtn flex">
                    <i class="fas fa-bars"></i>
                </span>
            </div>

            <!-- navigation menu -->
            <nav class="top-nav">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </nav>
        </div>

        <div class="container about">
            <div class="about-content">
                <h2>I'm Tushar Gakhil</h2>
                <h3>Photographer | Student</h3>
                <blockquote>
                    "Photography is a way of feeling, of touching, of loving. What you have caught on film is captured
                    forever ... It remembers little things, long after you have forgotten everything."
                    <span>-Aaron Siskind</span>
                </blockquote>
            </div>

            <div class="social-icons">
                <ul>
                     <li>
                        <a href="https://www.instagram.com/vivid.shots_/" target="_blank"><i class="fab fa-instagram"></i></a>

                    </li>
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100069525794678" target="_blank"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/GakhilTushar" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- end of header -->

    <!-- main -->
    
    <section class="section-two">
        <div class="container">
            <h2>FOLLOW ME ON INSTAGRAM</h2>
            <span><a href="https://www.instagram.com/vivid.shots_/" target="_blank" > @vivid_shots </a></span>
            <div class="insta-imgs">
                <div>
                    <img src="static/images/insta-1.jpg">
                    <div class="icon-overlay flex">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                
                <div>
                    <img src="static/images/insta-2.jpg">
                    <div class="icon-overlay flex">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>

                <div>
                    <img src="static/images/insta-3.jpg">
                    <div class="icon-overlay flex">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
                 
                <div>
                    <img src="static/images/insta-4.jpg">
                    <div class="icon-overlay flex">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of main -->


    <!-- footer -->
    <footer class="footer">
        <p>&copy; Tushar Gakhil, All Rights Reserved.</p> </a>
    </footer>
    <!-- end of footer -->


    <script src="static/js/script.js"></script>
</body>

</html>